body {
  text-align: center;
}

h1, h2 {
  font-family: Optima, sans-serif;
}

p, li {
  font-family: Courier New, monospace;
  list-style: none;
}

hr {
  border-color: royalblue;
  margin-top: 2em;
  margin-bottom: 2em;
}

.mainDetails {
  border: 4px dotted royalblue;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.subDetails {
  font-weight: bold;
}

.sectionTitle {
  color: royalblue;
}

#mainArea {
  border: 4px dotted royalblue;
  padding: 1em;
  margin-top: 1em;
}

