html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html, body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: slategray;
}

.clear {
	background-color: #cf8a05;
	height: 2px;
	clear: both;
}

#mainArea .clear {
	height: 1px;
	background-color: #dedede;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
}

#cv {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.mainDetails {
	padding: 25px 35px;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: -6px;
	color: #181818;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	color: #181818;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
}

#contactDetails ul li a {
	color: inherit;
	text-decoration: none;
}

#contactDetails ul li a:hover {
}

section {
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	color: #cf8a05;
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-style: italic;
	font-size: 1.5em;
}

.sectionContent h2 {
	font-size: 1.5em;
	margin-bottom: -2px;
	color: #181818;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	column-count: 3;
	margin-bottom: 20px;
	font-size: 1em;
}

.keySkills ul li {
	margin-bottom: 3px;
}