body, html {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

body {
	margin: 5em;
}

img {
	border-radius: 50%;
}

h1, h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: 0;
	font-weight: 100;
}

p {
	margin-top: 0;
}

.subDetails {
	margin: 0;
}



.clear {
	clear: both;
	border: 2px solid #cf8a05;
}

#mainArea .clear {
	border: 1px solid #dedede;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

.sectionTitle {
	float: left;
	width: 25%;
	color: #cf8a05;
}

.sectionContent {
	float: right;
	width: 72.5%;
}